To retrieve this data I will be using the yfiannce package in Google colab

Course of action:
 - source vix data for all the data points since 2016 where the vix has broken 30 or maybe 25? see for number of data points
 - filter the bitcoin data so that we have the closing price for the day this vix spike has happend, and then we want the closing price the next day, 7 days, and 30 days after. 
 - now we want to calcuate the price % change for the 1,7,30 day periods
 - arrange these price changes into the buckets. 
 - make the chart

In [403]:
import pandas as pd

In [404]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (0.2.50)
Requirement already satisfied: pandas>=1.3.0 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from yfinance) (2.2.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from yfinance) (2.1.3)
Requirement already satisfied: requests>=2.31 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from yfinance) (5.3.0)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from yfinance) (4.3.6)
Requirement already satisfied: pytz>=2022.5 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from yfinance) (2024.2)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from yfinance) (3.17.8)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.6)
Requirement already satisfied: six>=1.9 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.3.0->yfinance) (2024.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests>=2.31->yfinance) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests>=2.31->yfinance) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests>=2.31->yfinance) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\herbd\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests>=2.31->yfinance) (2024.8.30)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: C:\Users\herbd\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [405]:
import yfinance as yf

First I will import the data on VIX index

In [406]:
#this defines the asset you want to look at then fetches the data and displays it in a dataframe 
ticker_symbol = '^VIX'

vix_data = yf.download(ticker_symbol, start='2016-01-01', end='2024-12-03')

vix_data.head(10)

[*********************100%***********************]  1 of 1 completed

Price       Adj Close      Close       High        Low       Open Volume
Ticker           ^VIX       ^VIX       ^VIX       ^VIX       ^VIX   ^VIX
Date
2016-01-04  20.700001  20.700001  23.360001  20.670000  22.480000      0
2016-01-05  19.340000  19.340000  21.059999  19.250000  20.750000      0
2016-01-06  20.590000  20.590000  21.860001  19.799999  21.670000      0
2016-01-07  24.990000  24.990000  25.860001  22.400000  23.219999      0
2016-01-08  27.010000  27.010000  27.080000  22.480000  22.959999      0
2016-01-11  24.299999  24.299999  27.389999  23.830000  25.580000      0
2016-01-12  22.469999  22.469999  23.930000  21.910000  22.969999      0
2016-01-13  25.219999  25.219999  26.110001  21.440001  21.719999      0
2016-01-14  23.950001  23.950001  26.280001  23.070000  24.750000      0
2016-01-15  27.020000  27.020000  30.950001  26.670000  28.959999      0

When I began trying to filter some of the data, I was running into a lot of issued that stemmed from the formatting of the heading columns. so this code sorts the headings out and gets rid of the double stack headings.

In [407]:
print(vix_data.columns)

MultiIndex([('Adj Close', '^VIX'),
            (    'Close', '^VIX'),
            (     'High', '^VIX'),
            (      'Low', '^VIX'),
            (     'Open', '^VIX'),
            (   'Volume', '^VIX')],
           names=['Price', 'Ticker'])

In [408]:
vix_data.columns = vix_data.columns.get_level_values(0)
vix_data.reset_index(inplace=True)

In [409]:

vix_data.columns = ['Date', 'Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume']

vix_data = vix_data[['Date', 'Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume']]
vix_data.head(10)

        Date  Adj Close      Close       High        Low       Open  Volume
0 2016-01-04  20.700001  20.700001  23.360001  20.670000  22.480000       0
1 2016-01-05  19.340000  19.340000  21.059999  19.250000  20.750000       0
2 2016-01-06  20.590000  20.590000  21.860001  19.799999  21.670000       0
3 2016-01-07  24.990000  24.990000  25.860001  22.400000  23.219999       0
4 2016-01-08  27.010000  27.010000  27.080000  22.480000  22.959999       0
5 2016-01-11  24.299999  24.299999  27.389999  23.830000  25.580000       0
6 2016-01-12  22.469999  22.469999  23.930000  21.910000  22.969999       0
7 2016-01-13  25.219999  25.219999  26.110001  21.440001  21.719999       0
8 2016-01-14  23.950001  23.950001  26.280001  23.070000  24.750000       0
9 2016-01-15  27.020000  27.020000  30.950001  26.670000  28.959999       0

I also don't need all of this data, the only data I need is the data column and the Close column.

In [410]:
#this code keeps only those columns. 
vix_close = vix_data[['Date', 'Close']]
vix_close.head(10)

        Date      Close
0 2016-01-04  20.700001
1 2016-01-05  19.340000
2 2016-01-06  20.590000
3 2016-01-07  24.990000
4 2016-01-08  27.010000
5 2016-01-11  24.299999
6 2016-01-12  22.469999
7 2016-01-13  25.219999
8 2016-01-14  23.950001
9 2016-01-15  27.020000

When trying to filter this data I was running into issues of NaN. The following code changes the format of the data I am using into to float form, so they are now defined as a number instead of a string, meaning it can be more easily filtered and altered.

In [411]:
vix_close['Close'] = vix_close['Close'].astype(float)
vix_close.head(10)

C:\Users\herbd\AppData\Local\Temp\ipykernel_15084\233255700.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vix_close['Close'] = vix_close['Close'].astype(float)

        Date      Close
0 2016-01-04  20.700001
1 2016-01-05  19.340000
2 2016-01-06  20.590000
3 2016-01-07  24.990000
4 2016-01-08  27.010000
5 2016-01-11  24.299999
6 2016-01-12  22.469999
7 2016-01-13  25.219999
8 2016-01-14  23.950001
9 2016-01-15  27.020000

Now I need to begin filtering it to the data that I require for this chart. I want to find all the datapoints that are >25. I only need the values where it first hits 25 however, so any days where it is consecutively over 25 I want to remove.

In [412]:

# Filter to keep only the first instance where Close >= 30 and skip consecutive occurrences
filtered_vix_close = vix_close[(vix_close['Close'] >= 25) & 
                               (vix_close['Close'].shift(fill_value=0) < 25)]

filtered_vix_close.head(30)

           Date      Close
4    2016-01-08  27.010000
7    2016-01-13  25.219999
9    2016-01-15  27.020000
24   2016-02-08  26.000000
120  2016-06-24  25.760000
526  2018-02-05  37.320000
708  2018-10-24  25.230000
745  2018-12-18  25.580000
755  2019-01-03  25.450001
1041 2020-02-24  25.030001
1114 2020-06-08  25.809999
1146 2020-07-23  26.080000
1149 2020-07-28  25.440001
1173 2020-08-31  26.410000
1222 2020-11-09  25.750000
1225 2020-11-12  25.350000
1251 2020-12-21  25.160000
1259 2021-01-04  26.969999
1275 2021-01-27  37.209999
1295 2021-02-25  28.889999
1299 2021-03-03  26.670000
1302 2021-03-08  25.469999
1348 2021-05-12  27.590000
1438 2021-09-20  25.709999
1486 2021-11-26  28.620001
1488 2021-11-30  27.190001
1523 2022-01-20  25.590000
1539 2022-02-11  27.360001
1543 2022-02-17  28.110001
1587 2022-04-22  28.209999

Now we have the data we need for the VIX indicator I can load in the data for Bitcoin.

In [413]:
#this defines the asset you want to look at then fetches the data and displays it in a dataframe 
ticker2 = 'BTC-USD'

btc_data = yf.download(ticker2, start='2016-01-01', end='2024-12-03')

btc_data.head(10)

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,BTC-USD,BTC-USD,BTC-USD,BTC-USD,BTC-USD,BTC-USD
Date,,,,,,
2016-01-01,434.334015,434.334015,436.246002,427.515015,430.721008,36278900
2016-01-02,433.437988,433.437988,436.062012,431.869995,434.622009,30096600
2016-01-03,430.010986,430.010986,433.743011,424.705994,433.578003,39633800
2016-01-04,433.091003,433.091003,434.516998,429.084015,430.061005,38477500
2016-01-05,431.959991,431.959991,434.182007,429.675995,433.069000,34522600
2016-01-06,429.105011,429.105011,431.855988,426.341003,431.855988,34042500
2016-01-07,458.048004,458.048004,458.765991,429.076996,430.010986,87562200
2016-01-08,453.230011,453.230011,462.933990,447.937988,457.537994,56993000
2016-01-09,447.610992,447.610992,454.640015,446.889008,453.382996,32278000
2016-01-10,447.990997,447.990997,448.308990,440.351013,448.238007,35995900

first I want to alter the column names as this caused lots of issues when managing the VIX data earlier.

In [414]:
# Flatten the headings so that its not across multiple levels
btc_data.columns = btc_data.columns.get_level_values(0)
print(btc_data.columns)

btc_data.reset_index(inplace=True)

Index(['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object', name='Price')

In [415]:

btc_data.columns = ['Date', 'Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume']

btc_data = btc_data[['Date', 'Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume']]

btc_data.head(10)

,Date,Adj Close,Close,High,Low,Open,Volume
0,2016-01-01,434.334015,434.334015,436.246002,427.515015,430.721008,36278900
1,2016-01-02,433.437988,433.437988,436.062012,431.869995,434.622009,30096600
2,2016-01-03,430.010986,430.010986,433.743011,424.705994,433.578003,39633800
3,2016-01-04,433.091003,433.091003,434.516998,429.084015,430.061005,38477500
4,2016-01-05,431.959991,431.959991,434.182007,429.675995,433.069000,34522600
5,2016-01-06,429.105011,429.105011,431.855988,426.341003,431.855988,34042500
6,2016-01-07,458.048004,458.048004,458.765991,429.076996,430.010986,87562200
7,2016-01-08,453.230011,453.230011,462.933990,447.937988,457.537994,56993000
8,2016-01-09,447.610992,447.610992,454.640015,446.889008,453.382996,32278000
9,2016-01-10,447.990997,447.990997,448.308990,440.351013,448.238007,35995900

I want to remove the unccessary columns.

In [416]:
btc_close = btc_data[['Date', 'Close']]
btc_close.head(10)

        Date       Close
0 2016-01-01  434.334015
1 2016-01-02  433.437988
2 2016-01-03  430.010986
3 2016-01-04  433.091003
4 2016-01-05  431.959991
5 2016-01-06  429.105011
6 2016-01-07  458.048004
7 2016-01-08  453.230011
8 2016-01-09  447.610992
9 2016-01-10  447.990997

In [417]:
filtered_vix_close.head(10)

           Date      Close
4    2016-01-08  27.010000
7    2016-01-13  25.219999
9    2016-01-15  27.020000
24   2016-02-08  26.000000
120  2016-06-24  25.760000
526  2018-02-05  37.320000
708  2018-10-24  25.230000
745  2018-12-18  25.580000
755  2019-01-03  25.450001
1041 2020-02-24  25.030001

Now I want to begin creating the merged dataframes to calcualte the percentage price changes for bitcoin in 1-day, 7-day, and 30-day periods

In [418]:
#this merges the vix data, for all the values where it breaks 25 with the corresponding bitcoin price for that day where it does break 25. 

merged_1 = pd.merge(btc_close, filtered_vix_close, on='Date', how='inner')

merged_1 = merged_1.rename(columns={
    'Close_x': 'BTC_Close',
    'Close_y': 'VIX_Close'
})

merged_1.head(20)

         Date     BTC_Close  VIX_Close
0  2016-01-08    453.230011  27.010000
1  2016-01-13    432.371002  25.219999
2  2016-01-15    364.330994  27.020000
3  2016-02-08    373.446991  26.000000
4  2016-06-24    665.299011  25.760000
5  2018-02-05   6955.270020  37.320000
6  2018-10-24   6495.839844  25.230000
7  2018-12-18   3696.059082  25.580000
8  2019-01-03   3836.741211  25.450001
9  2020-02-24   9650.174805  25.030001
10 2020-06-08   9771.489258  25.809999
11 2020-07-23   9581.072266  26.080000
12 2020-07-28  10912.823242  25.440001
13 2020-08-31  11680.820312  26.410000
14 2020-11-09  15332.315430  25.750000
15 2020-11-12  16276.343750  25.350000
16 2020-12-21  22803.082031  25.160000
17 2021-01-04  31971.914062  26.969999
18 2021-01-27  30432.546875  37.209999
19 2021-02-25  47093.851562  28.889999

In [419]:
# Add a new column for BTC_Close value one day before the 'Date'
btc_close['Next_Day'] = btc_close['Date'] + pd.Timedelta(days=-1)

# Rename the 'Close' column for clarity
btc_close_renamed = btc_close.rename(columns={'Close': 'Next_Day_BTC_Close'})

# Create a new DataFrame with the merged data
merged_1day = pd.merge(
    merged_1,
    btc_close_renamed[['Next_Day', 'Next_Day_BTC_Close']],
    left_on='Date',
    right_on='Next_Day',
    how='left'
)

# Drop the auxiliary 'Next_Day' column from the new DataFrame to keep it clean
merged_1day = merged_1day.drop(columns=['Next_Day'])

# Display the first 20 rows of the new DataFrame
merged_1day.head(20)

C:\Users\herbd\AppData\Local\Temp\ipykernel_15084\1707414746.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  btc_close['Next_Day'] = btc_close['Date'] + pd.Timedelta(days=-1)

         Date     BTC_Close  VIX_Close  Next_Day_BTC_Close
0  2016-01-08    453.230011  27.010000          447.610992
1  2016-01-13    432.371002  25.219999          430.306000
2  2016-01-15    364.330994  27.020000          387.536011
3  2016-02-08    373.446991  26.000000          376.028992
4  2016-06-24    665.299011  25.760000          665.122986
5  2018-02-05   6955.270020  37.320000         7754.000000
6  2018-10-24   6495.839844  25.230000         6476.290039
7  2018-12-18   3696.059082  25.580000         3745.950684
8  2019-01-03   3836.741211  25.450001         3857.717529
9  2020-02-24   9650.174805  25.030001         9341.705078
10 2020-06-08   9771.489258  25.809999         9795.700195
11 2020-07-23   9581.072266  26.080000         9536.892578
12 2020-07-28  10912.823242  25.440001        11100.467773
13 2020-08-31  11680.820312  26.410000        11970.478516
14 2020-11-09  15332.315430  25.750000        15290.902344
15 2020-11-12  16276.343750  25.350000        16317.808594
16 2020-12-21  22803.082031  25.160000        23783.029297
17 2021-01-04  31971.914062  26.969999        33992.429688
18 2021-01-27  30432.546875  37.209999        33466.097656
19 2021-02-25  47093.851562  28.889999        46339.761719

Now I want to calculate the percentage change from the BTC_Close value to the Next_Day_BTC_Close as this will go into one of the buckets for the histogram.

In [420]:
merged_1day['Change_BTC'] = (
    (merged_1day['Next_Day_BTC_Close'] - merged_1day['BTC_Close']) / merged_1day['BTC_Close']
) * 100

merged_1day.head(10)

        Date    BTC_Close  VIX_Close  Next_Day_BTC_Close  Change_BTC
0 2016-01-08   453.230011  27.010000          447.610992   -1.239772
1 2016-01-13   432.371002  25.219999          430.306000   -0.477600
2 2016-01-15   364.330994  27.020000          387.536011    6.369213
3 2016-02-08   373.446991  26.000000          376.028992    0.691397
4 2016-06-24   665.299011  25.760000          665.122986   -0.026458
5 2018-02-05  6955.270020  37.320000         7754.000000   11.483810
6 2018-10-24  6495.839844  25.230000         6476.290039   -0.300959
7 2018-12-18  3696.059082  25.580000         3745.950684    1.349859
8 2019-01-03  3836.741211  25.450001         3857.717529    0.546722
9 2020-02-24  9650.174805  25.030001         9341.705078   -3.196520

Now I am going to extract just the change_BTC column and data into a new dataframe as this is all I need for my chart and it will make it easier to manage.

In [421]:
DAYS1 = merged_1day[['Date', 'Change_BTC']]

DAYS1.head(20)

         Date  Change_BTC
0  2016-01-08   -1.239772
1  2016-01-13   -0.477600
2  2016-01-15    6.369213
3  2016-02-08    0.691397
4  2016-06-24   -0.026458
5  2018-02-05   11.483810
6  2018-10-24   -0.300959
7  2018-12-18    1.349859
8  2019-01-03    0.546722
9  2020-02-24   -3.196520
10 2020-06-08    0.247771
11 2020-07-23   -0.461114
12 2020-07-28    1.719487
13 2020-08-31    2.479776
14 2020-11-09   -0.270103
15 2020-11-12    0.254755
16 2020-12-21    4.297433
17 2021-01-04    6.319658
18 2021-01-27    9.968113
19 2021-02-25   -1.601249

Now I want to repeat the same process for 7 days and 30 days, fetching the bitcoin price 7 and 30 days after the breaking of 25 on the VIX, and working out the percentage change in price from that day to 7 and 30 days after.

In [422]:
merged_1.head(10)

        Date    BTC_Close  VIX_Close
0 2016-01-08   453.230011  27.010000
1 2016-01-13   432.371002  25.219999
2 2016-01-15   364.330994  27.020000
3 2016-02-08   373.446991  26.000000
4 2016-06-24   665.299011  25.760000
5 2018-02-05  6955.270020  37.320000
6 2018-10-24  6495.839844  25.230000
7 2018-12-18  3696.059082  25.580000
8 2019-01-03  3836.741211  25.450001
9 2020-02-24  9650.174805  25.030001

In [423]:
# Add a new column for BTC_Close value x (1,7 or 30)  days after the btc_close date
btc_close['Next_7Day'] = btc_close['Date'] + pd.Timedelta(days=-7)

# Rename to make it clearer
btc_close_renamed = btc_close.rename(columns={'Close': 'Next_7Day_BTC_Close'})

# Creates a new df with the merged data
merged_7day = pd.merge(
    merged_1,
    btc_close_renamed[['Next_7Day', 'Next_7Day_BTC_Close']],
    left_on='Date',
    right_on='Next_7Day',
    how='left'
)

# gets rid of the Next_Day column from the new df to keep it clean as this was just used for the calculation
merged_7day = merged_7day.drop(columns=['Next_7Day'])
merged_7day.head(20)

C:\Users\herbd\AppData\Local\Temp\ipykernel_15084\3185066147.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  btc_close['Next_7Day'] = btc_close['Date'] + pd.Timedelta(days=-7)

         Date     BTC_Close  VIX_Close  Next_7Day_BTC_Close
0  2016-01-08    453.230011  27.010000           364.330994
1  2016-01-13    432.371002  25.219999           420.230011
2  2016-01-15    364.330994  27.020000           382.492004
3  2016-02-08    373.446991  26.000000           400.184998
4  2016-06-24    665.299011  25.760000           676.296021
5  2018-02-05   6955.270020  37.320000          8926.570312
6  2018-10-24   6495.839844  25.230000          6317.609863
7  2018-12-18   3696.059082  25.580000          3815.490723
8  2019-01-03   3836.741211  25.450001          3678.924561
9  2020-02-24   9650.174805  25.030001          8869.669922
10 2020-06-08   9771.489258  25.809999          9450.702148
11 2020-07-23   9581.072266  26.080000         11111.213867
12 2020-07-28  10912.823242  25.440001         11205.892578
13 2020-08-31  11680.820312  26.410000         10369.563477
14 2020-11-09  15332.315430  25.750000         16716.111328
15 2020-11-12  16276.343750  25.350000         17817.089844
16 2020-12-21  22803.082031  25.160000         27084.808594
17 2021-01-04  31971.914062  26.969999         35566.656250
18 2021-01-27  30432.546875  37.209999         37472.089844
19 2021-02-25  47093.851562  28.889999         48561.167969

In [424]:
#calculates the percentage change and creates a new column for the percentage change.
merged_7day['Change_BTC'] = (
    (merged_7day['Next_7Day_BTC_Close'] - merged_7day['BTC_Close']) / merged_7day['BTC_Close']
) * 100

merged_7day.head(10)

        Date    BTC_Close  VIX_Close  Next_7Day_BTC_Close  Change_BTC
0 2016-01-08   453.230011  27.010000           364.330994  -19.614548
1 2016-01-13   432.371002  25.219999           420.230011   -2.808003
2 2016-01-15   364.330994  27.020000           382.492004    4.984756
3 2016-02-08   373.446991  26.000000           400.184998    7.159786
4 2016-06-24   665.299011  25.760000           676.296021    1.652942
5 2018-02-05  6955.270020  37.320000          8926.570312   28.342542
6 2018-10-24  6495.839844  25.230000          6317.609863   -2.743756
7 2018-12-18  3696.059082  25.580000          3815.490723    3.231324
8 2019-01-03  3836.741211  25.450001          3678.924561   -4.113299
9 2020-02-24  9650.174805  25.030001          8869.669922   -8.087987

In [425]:
#takes the percentage change and date into a seperate datafrme just to make it clear where the finished processed data is. 
DAYS7 = merged_7day[['Date', 'Change_BTC']]

DAYS7.head(20)

         Date  Change_BTC
0  2016-01-08  -19.614548
1  2016-01-13   -2.808003
2  2016-01-15    4.984756
3  2016-02-08    7.159786
4  2016-06-24    1.652942
5  2018-02-05   28.342542
6  2018-10-24   -2.743756
7  2018-12-18    3.231324
8  2019-01-03   -4.113299
9  2020-02-24   -8.087987
10 2020-06-08   -3.282889
11 2020-07-23   15.970463
12 2020-07-28    2.685550
13 2020-08-31  -11.225726
14 2020-11-09    9.025355
15 2020-11-12    9.466168
16 2020-12-21   18.776964
17 2021-01-04   11.243438
18 2021-01-27   23.131626
19 2021-02-25    3.115728

Now that 1 day and 7 day have been done I need to take the same steps to get the percentage change for 30 days after the breaking of 25 on the vix index.

In [426]:
# Add a new column for BTC_Close value x (1,7 or 30)  days after the btc_close date
btc_close['Next_30Day'] = btc_close['Date'] + pd.Timedelta(days=-30)

# Rename to make it clearer
btc_close_renamed = btc_close.rename(columns={'Close': 'Next_30Day_BTC_Close'})

# Creates a new df with the merged data
merged_30day = pd.merge(
    merged_1,
    btc_close_renamed[['Next_30Day', 'Next_30Day_BTC_Close']],
    left_on='Date',
    right_on='Next_30Day',
    how='left'
)

# gets rid of the Next_Day column from the new df to keep it clean as this was just used for the calculation
merged_30day = merged_30day.drop(columns=['Next_30Day'])
merged_30day.head(20)

C:\Users\herbd\AppData\Local\Temp\ipykernel_15084\2692762092.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  btc_close['Next_30Day'] = btc_close['Date'] + pd.Timedelta(days=-30)

         Date     BTC_Close  VIX_Close  Next_30Day_BTC_Close
0  2016-01-08    453.230011  27.010000            376.619995
1  2016-01-13    432.371002  25.219999            384.263000
2  2016-01-15    364.330994  27.020000            407.230011
3  2016-02-08    373.446991  26.000000            414.859985
4  2016-06-24    665.299011  25.760000            661.284973
5  2018-02-05   6955.270020  37.320000           9965.570312
6  2018-10-24   6495.839844  25.230000           4347.109863
7  2018-12-18   3696.059082  25.580000           3678.563965
8  2019-01-03   3836.741211  25.450001           3521.060791
9  2020-02-24   9650.174805  25.030001           6681.062988
10 2020-06-08   9771.489258  25.809999           9428.333008
11 2020-07-23   9581.072266  26.080000          11681.825195
12 2020-07-28  10912.823242  25.440001          11323.397461
13 2020-08-31  11680.820312  26.410000          10784.491211
14 2020-11-09  15332.315430  25.750000          18553.916016
15 2020-11-12  16276.343750  25.350000          18803.656250
16 2020-12-21  22803.082031  25.160000          35547.750000
17 2021-01-04  31971.914062  26.969999          37472.089844
18 2021-01-27  30432.546875  37.209999          46339.761719
19 2021-02-25  47093.851562  28.889999          55973.511719

In [427]:
#calculates the percentage change and creates a new column for the percentage change.
merged_30day['Change_BTC'] = (
    (merged_30day['Next_30Day_BTC_Close'] - merged_30day['BTC_Close']) / merged_30day['BTC_Close']
) * 100

merged_30day.head(10)

        Date    BTC_Close  VIX_Close  Next_30Day_BTC_Close  Change_BTC
0 2016-01-08   453.230011  27.010000            376.619995  -16.903121
1 2016-01-13   432.371002  25.219999            384.263000  -11.126556
2 2016-01-15   364.330994  27.020000            407.230011   11.774737
3 2016-02-08   373.446991  26.000000            414.859985   11.089390
4 2016-06-24   665.299011  25.760000            661.284973   -0.603343
5 2018-02-05  6955.270020  37.320000           9965.570312   43.280854
6 2018-10-24  6495.839844  25.230000           4347.109863  -33.078555
7 2018-12-18  3696.059082  25.580000           3678.563965   -0.473345
8 2019-01-03  3836.741211  25.450001           3521.060791   -8.227827
9 2020-02-24  9650.174805  25.030001           6681.062988  -30.767441

In [428]:
#takes the percentage change and date into a seperate datafrme just to make it clear where the finished processed data is. 
DAYS30 = merged_30day[['Date', 'Change_BTC']]

DAYS30.head(20)

         Date  Change_BTC
0  2016-01-08  -16.903121
1  2016-01-13  -11.126556
2  2016-01-15   11.774737
3  2016-02-08   11.089390
4  2016-06-24   -0.603343
5  2018-02-05   43.280854
6  2018-10-24  -33.078555
7  2018-12-18   -0.473345
8  2019-01-03   -8.227827
9  2020-02-24  -30.767441
10 2020-06-08   -3.511811
11 2020-07-23   21.926073
12 2020-07-28    3.762310
13 2020-08-31   -7.673512
14 2020-11-09   21.011833
15 2020-11-12   15.527520
16 2020-12-21   55.890111
17 2021-01-04   17.203148
18 2021-01-27   52.270403
19 2021-02-25   18.855243

Now I have all the data I need in the dataframes DAYS1, DAYS7, AND DAYS30.

To make the chart plotting easier I will do the sorting into buckets now. To do so I want to sort the data in to groups as follows:
- <-10%
- -10% to -5%
- -5% to 0%
- 0% to 5%
- 5% to 10%
- (>10%)

In [ ]:
# Define the bins and the names of the bins
bins = [-float('inf'), -10, -5, 0, 5, 10, float('inf')]
labels = ['<-10%', '-10% to -5%', '-5% to 0%', '0% to 5%', '5% to 10%', '>10%']

# sorts each value in DAYS1 into its appropriate bucket in a new column called Change_BTC_Bucket
DAYS1['Change_BTC_Bucket'] = pd.cut(DAYS1['Change_BTC'], bins=bins, labels=labels)

#counts the number of data points in each bucket 
sortcount = DAYS1['Change_BTC_Bucket'].value_counts().sort_index()

# creates a new dataframe called DAYS1_FX which contains just the buckets and the frequency for each bucket. this is the final data that is needed for my chart. 
DAYS1_FX= pd.DataFrame({
    'Bucket': sortcount.index,
    'Frequency': sortcount.values
})
DAYS1_FX

C:\Users\herbd\AppData\Local\Temp\ipykernel_15084\3043083061.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DAYS1['Change_BTC_Bucket'] = pd.cut(DAYS1['Change_BTC'], bins=bins, labels=labels)

        Bucket  Frequency
0        <-10%          2
1  -10% to -5%          1
2    -5% to 0%         18
3     0% to 5%         17
4    5% to 10%          3
5         >10%          1

Now that I have done this for the DAYS1 dataframe I can repeat this same step for DAYS7 and DAYS30 dataframes before exporting them all.

In [ ]:
#this is just a repeat of the code before to get the frequency of all the bins, this time for the DAYS7 dataframe. 

bins = [-float('inf'), -10, -5, 0, 5, 10, float('inf')]
labels = ['<-10%', '-10% to -5%', '-5% to 0%', '0% to 5%', '5% to 10%', '>10%']

DAYS7['Change_BTC_Bucket'] = pd.cut(DAYS7['Change_BTC'], bins=bins, labels=labels)

sortcount = DAYS7['Change_BTC_Bucket'].value_counts().sort_index()

DAYS7_FX= pd.DataFrame({
    'Bucket': sortcount.index,
    'Frequency': sortcount.values
})
DAYS7_FX

C:\Users\herbd\AppData\Local\Temp\ipykernel_15084\3097447985.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DAYS7['Change_BTC_Bucket'] = pd.cut(DAYS7['Change_BTC'], bins=bins, labels=labels)

        Bucket  Frequency
0        <-10%          6
1  -10% to -5%          6
2    -5% to 0%          9
3     0% to 5%          7
4    5% to 10%          5
5         >10%          9

In [437]:
#this is just a repeat of the code before to get the frequency of all the bins, this time for the DAYS30 dataframe. 

bins = [-float('inf'), -10, -5, 0, 5, 10, float('inf')]
labels = ['<-10%', '-10% to -5%', '-5% to 0%', '0% to 5%', '5% to 10%', '>10%']

DAYS30['Change_BTC_Bucket'] = pd.cut(DAYS30['Change_BTC'], bins=bins, labels=labels)

sortcount = DAYS30['Change_BTC_Bucket'].value_counts().sort_index()

DAYS30_FX= pd.DataFrame({
    'Bucket': sortcount.index,
    'Frequency': sortcount.values
})
DAYS30_FX

C:\Users\herbd\AppData\Local\Temp\ipykernel_15084\3410325719.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DAYS30['Change_BTC_Bucket'] = pd.cut(DAYS30['Change_BTC'], bins=bins, labels=labels)

        Bucket  Frequency
0        <-10%         10
1  -10% to -5%          5
2    -5% to 0%          5
3     0% to 5%          4
4    5% to 10%          2
5         >10%         16

Now I have the final data for all 3 charts in the concat, I can export the dataframes as csv files.

In [438]:
DAYS1_FX.to_csv('DAYS1_CHART4.csv', index=False)
DAYS7_FX.to_csv('DAYS7_CHART4.csv', index=False)
DAYS30_FX.to_csv('DAYS30_CHART4.csv', index=False)